.main {
  text-align: center;
  color: #14213d;
  max-width: 1170px;
  width: 90%;
  margin: 0 auto;
  line-height: normal;
  margin-top: 50px;
  margin-bottom: 120px;
}

.coming-soon-text {
  font-family: 'Lucida Grande';
  font-size: 2.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 30px;
}

.slogan-text {
  font-family: 'Chalkboard';
  font-size: 1.3rem;
}

.links-container {
  margin-top: 30px;
}

.links {
  font-family: "Chalkboard";
  text-decoration: none;
  color: #14213D;
  font-size: 1.2rem;
  display: block;
  margin-top: 12px;
}

.social-links-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  max-width: 350px;
  margin: 30px auto 0 auto;
}

.social-links {
  text-decoration: none;
}

.illustrations-container-1 {
  background-color: #D4D4D4;
  width: 100%;
  bottom: 0;
}

.illustrations-container-2 {
  position: relative;
  bottom: 50px;
  display: flex;
  justify-content: space-around;
}

.illustrations-growth {
  width: 95px;
}

.illustrations-directory {
  width: 95px;
}

.illustrations-sport {
  width: 95px;
}

@media only screen and (min-width: 500px) {
  .coming-soon-text {
    font-size: 3rem;
  }

  .slogan-text {
    font-size: 1.8rem;
  }

  .links {
    margin-top: 0;
    margin-right: 12px;
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 700px) {
  .links-container {
    margin-top: 60px;
  }
  
  .illustrations-container-2 {
    bottom: 80px;
  }
}

@media only screen and (min-width: 905px) {
  .links {
    display: inline-block;
  }

  .illustrations-growth {
    width: auto;
  }

  .illustrations-directory {
    width: auto;
  }

  .illustrations-sport {
    width: auto;
  }
}

@media only screen and (min-height: 730px) {
  .illustrations-container-1 {
    position: fixed; 
  }
}

/* Founders.html styling */

.page-text-container {
  max-width: 1200px;
  margin: 80px auto;
  width: 85%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 130px;
}

.logo-with-margin {
  width: 250px;
  margin-bottom: 30px;
}

.article-heading {
  font-family: "Lucida Grande";
  font-size: 1.2rem;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.article-subheading {
  font-family: "Lucida Grande";
  font-size: 1.2rem;
  margin-bottom: 24px;
  margin-top: 24px;
}

.article-text {
  font-family: "Lucida Grande";
  font-size: 1rem;
  margin-bottom: 12px;
  line-height: 1.5;
}

.link-list {
  list-style: none;
  padding-bottom: 20px;
}

.link-list li {
  line-height: normal;
  padding-bottom: 10px;
}