:root {
  /* colours */
  --main-color: #14213d;
  --bg-color: #d4d4d4;

  /* font sizes */
  --article-text: 1rem;
  --article-heading: 1.2rem;
  --slogan-text: 1.8rem;
  --links-text: 1.8rem;
  --main-heading: 3rem;
}

.main {
  text-align: center;
  color: var(--main-color);
  max-width: 1170px;
  width: 90%;
  margin: 0 auto;
  line-height: normal;
  margin-top: 50px;
  margin-bottom: 150px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 250px;
}

.logo-with-margin {
  width: 250px;
  margin-bottom: 30px;
}

.coming-soon-text {
  font-family: "Lucida Grande";
  font-size: var(--main-heading);
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.slogan-text {
  font-family: "Chalkboard";
  font-size: var(--slogan-text);
}

.article-heading {
  font-family: "Lucida Grande";
  font-size: var(--article-heading);
  margin-bottom: 24px;
  text-transform: uppercase;
}

.article-subheading {
  font-family: "Lucida Grande";
  font-size: var(--article-heading);
  margin-bottom: 24px;
  margin-top: 24px;
}

.article-text {
  font-family: "Lucida Grande";
  font-size: var(--article-text);
  margin-bottom: 12px;
  line-height: normal;
}

.links-container {
  margin-top: 30px;
}

.links {
  font-family: "Chalkboard";
  text-decoration: none;
  color: var(--main-color);
  margin-right: 12px;
  font-size: var(--article-heading);
}

.social-links-container {
  margin-top: 30px;
}

.social-links {
  margin-right: 12px;
  text-decoration: none;
}

.illustrations-container-1 {
  background-color: var(--bg-color);
  position: fixed;
  width: 100%;
  bottom: 0;
}

.illustrations-container-2 {
  position: relative;
  bottom: 100px;
  display: flex;
  justify-content: space-around;
}

.page-text-container {
  margin: 30px 60px 0px 20px;
}

.link-list {
  list-style: none;
  padding-bottom: 20px;
}

.link-list li {
  line-height: normal;
  padding-bottom: 10px;
}
